
@{
    ViewData["Title"] = "Shopping Cart";
}

<script src="~/Plugins/Cart.js"></script>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h4 class="card-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</h4>
                <div class="row d-flex">
                    <div class="col-md-12" id="section-cart">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
