@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


<div class="row">
    <div class="col-sm-8 offset-2">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
                <h4 class="card-title">@ViewData["Title"]</h4>
                <div class="row">
                    <div class="col-md-12">
                        <header>
                            <h1 class="text-danger">@ViewData["Title"]</h1>
                            <p class="text-danger">This account has been locked out, please try again later.</p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>