@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

    <div class="row">
        <div class="col-sm-8 offset-2">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                if (@Model.DisplayConfirmAccountLink)
                                {
                                    <p>
                                        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        Please check your email to confirm your account.
                                    </p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
